html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("infernus.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.app {
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 20px 0px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.tab svg {
  width: 18px;
  height: 18px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

.tab button:hover {
  background-color: #202020;
  color: #fff;
}

.tab button.active {
  background-color: #202020;
  color: #fff;
}

.tab button:hover svg, .tab button.active svg{
  filter: invert(1);
}

.tabcontent {
  display: none;
  padding: 10px;
  background: rgba(255, 255, 255, .5);
  /* border: 1px solid #ccc; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: none;
  max-height: 400px;
  overflow-y: auto;
  animation: fadeEffect .5s;
}

.tabcontent::-webkit-scrollbar {
  width: 5px;
  background-color:  rgba(255, 255, 255, .5);
}

.tabcontent::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(54, 54, 54);
}

.tabcontent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color:  rgba(255, 255, 255, .5);;
}

.selectFolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.folder-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.folder-text {
  font-size: 12px;
}

.settings {
  padding: 10px;
  /* background-color:  rgba(255, 255, 255, .5); */
  border-radius: 8px;
}

.videoSettings {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr);  */
  gap: 10px; 
  align-items: stretch;
  justify-content: space-between;
}

.selectVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 50%;
}

video {
  padding: 5px;
  border-radius: 20px;
}

.status {
  color: rgb(0, 255, 0);
  display: flex;
  justify-content: space-between;
  padding: 5px;
  overflow-y: auto;
}

.info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
}

.developers {
  font-weight: bold;
  background-color: rgba(0, 0, 0, .1);
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 13px;
  flex: 1 1 50%;
}

.developer {
  font-weight: normal;
  display: flex;
  align-items: center;
}

.developers-title{
  display: flex;
  align-items: center;
}

.developer:not(:last-child), .developers-title {
  margin-bottom: 3px;
}

.developer svg {
  width: 20px;
  height: 20px;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.myButton {
  background-color: rgb(70, 69, 69);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.butSelectVideo {
  margin-top: auto;
}

.myButton:enabled:hover {
  background-color: rgb(54, 54, 54);
}

.myButton:disabled:hover {
  cursor: not-allowed;
}

.imgLink {
  cursor: pointer;
  max-width: 300px;
}

.logoDeadLock {
  height: 130px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition: all .2s;
  opacity: 0.5;
}

.logoDeadLock:hover {
  opacity: 0.9;
}

.logotwitch {
  height: 20px;
}

.logo {
    position: relative;
    text-align: center;
}

.red {
  background-color: rgba(200, 0, 0, 0.6);
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 0.837em;
}

#statusBlock {
  max-height: 200px;
  background-color: rgba(0, 0, 0, .9);
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 15px;
  border-radius: 8px;
  color: rgb(0, 255, 0);
  overflow-y: auto;
  margin-bottom: 10px;
}

#statusBlock::-webkit-scrollbar {
  width: 10px;
  background-color:  rgba(0, 0, 0, 0);
}

#statusBlock::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgba(0, 255, 0, 1);
  width: 8px;
}

#statusBlock::-webkit-scrollbar-track {
  background-color:  rgba(0, 0, 0, 0);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#selectedPath,
#progress {
  word-break: break-all;
  border-radius: 4px;
}

#Main {
  display: block;
}